


li.active a {
    color: var(--light);
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--light);
    transition: color 0.3s, text-shadow 0.3s;
    outline: none;
}
a:hover {
    color: var(--text);
    text-shadow: var(--text); /* Add a subtle box shadow on hover */
    
}

.caroules-wrapper{
    position: relative;

    margin: 0;
    overflow: hidden;
  
}
.coruImage{
    width: 100%;
  
    max-height: 100vh;
    object-fit: cover;
    filter: brightness(40%);
}
.gallery_description{
    position: absolute;
    bottom: 40%;
    left: 10%;
    right: 30%;
    z-index: 20;
    color: var(--light);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-weight: 800;
    
    
}

.description_date{
    font-size:xx-large;
    padding-bottom: 2vh;
    font-size: 70px;
}
.description_text{
    font-size:x-large;

}
.headertext{
    color: var(--text);
    padding-bottom: 5px;
    font-size: large;
}
.email_btn{
    color: var(--light);
    border-radius:none !important ;
    background-color: var(--text);
    border: none;
    font-size: 30px;
    margin-top:20px ;
    padding: 20px;
    width: 200px;
    // margin-left: 68%;
    position: absolute;
    bottom: 25%;
    left: 10%;
    right: 10%;
    z-index: 20;
    
    
    
}
.email_btn:hover{
    color: var(--light);
    
    background-color: var(--background);
    border: none;
}

.btn-card{
    background-color: var(--text);
    color: var(--light);
}

.btn-card:hover{
    color: var(--light);
    
    background-color: var(--dark);
    
}
.col-sm{
    margin: auto;
    min-width: 250px !important;
    height: 250px;
    width: 90%;
    
    
}
.card{
    background-color: var(--lightText);
    color: var(--text);
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}
.card i {
    font-size: 2rem; /* Adjust the icon size as needed */
    margin-bottom: 10px; /* Add some space between the icon and text */
  }

.bi-backpack3{
    margin-top: 10px;
    margin-bottom: 20px;
}
.row{
    
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 50px;
    
}
.card:hover{
    color: var(--light);
    background-color: var(--text);
    transition: 0.8s;
    transform: scale(1.1); /* Adjust the scale factor as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.footer{
    height: auto;
    background-color: #105444;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
}
.footRow{
    gap: 50px;
}
.footclass{
    max-width: 100px;
    text-align: center;
}
.footclass li{
    margin-top: 30px;
}
.footclass ul{
    padding-right: 2rem;
    text-align: start;

    
}

@media only screen and (max-width: 1008px){
    .description_date{
        font-size: large;
        margin-bottom: 20px;
    }
    .description_text{
        display: none;
    
    }
    .headertext{
       display: none;
    }
    .email_btn{
        font-size: 20px;
        padding: 10px;
        width: 100px;
    }
}
