li.active a {
    color: var(--light);
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--light);
    transition: color 0.3s, text-shadow 0.3s;
    outline: none;
}

a:hover {
    color: var(--text);
    text-shadow: var(--text);
    /* Add a subtle box shadow on hover */

}

.caroules-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden;

}
.gallery_img{
    height: 100%;
}

.coruImage {
    width: 100%;

    max-height: 100vh;
    object-fit: cover;
    // filter: brightness(40%);
}

.gallery_description {
    position: absolute;
    bottom: 40%;
    left: 10%;
    right: 30%;
    z-index: 20;
    color: var(--lightText);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 800;


}

.description_date {
    font-size: xx-large;
    padding-bottom: 2vh;
    font-size: 70px;
}

.description_text {
    font-size: x-large;

}

.headertext {
    color: var(--text);
    padding-bottom: 5px;
    font-size: large;
}

.email_btn {
    color:white;
    border-radius: none !important;
    background-color: var(--text);
    border: none;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    // margin-left: 68%;
    position: absolute;
    bottom: 25%;
    left: 10%;
    right: 10%;
    z-index: 20;
}

.email_btn:hover {
    transition: 0.5s;

    background-color: var(--lightText);
    border: none;
    color: var(--text);
}



.col-sm {
    margin: auto;
    min-width: 250px !important;
    height: 250px;
    width: 90%;


}

.card {
    background-color: var(--lightText);
    color: var(--text);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.card i {
    font-size: 2rem;
    /* Adjust the icon size as needed */
    margin-bottom: 10px;
    /* Add some space between the icon and text */
}

.bi-backpack3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.row {

    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 50px;

}

.card:hover {
    color: var(--lightText);
    background-color: var(--background);
    transition: 0.8s;
    // transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover .couBtn{
    transition: 0.5s;
    color: var(--background);
    background-color: var(--lightText);
}



.aboutClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
}

.about_img {
    height: 500px;
    width: 45%;
    object-fit: cover;
    border-radius:5px ;
}
hr{
    width:80%; 
    margin: auto; 
    margin-bottom: 40px; 
    color: var(--text);  
    background-color: var(--text); 
    height: 2px;
}

.about_btn {
    margin-top: 60px;
    font-size: x-large;
    background-color: var(--background);
    border: var(--background);
}
.about_btn:hover{
    background-color: var(--lightText);
    transition: 0.5s;
    color: var(--background);
}
.courses{
    margin-bottom:170px;
}
.couCard{
    margin-bottom: 40px;
    background-color: none;
}
.stuffCont{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 220px;
}
.headText{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    // margin-bottom: 20px;
}


.headHeadTextCou{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headTextCou{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.about_text h2{
    color: var(--text);
    margin-bottom:80px
    
}
.aboutClass{
    color: var(--primary);
}



body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
}

h1 {
    display: inline-block;
    color: var(--background);
    font-family: 'Righteous', serif;
    font-size: 3rem;
    margin-bottom: 0px;
    //   text-shadow: .05em .05em 0 var(--lightText);
}

h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em;
    left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
        linear-gradient(45deg,
            transparent 45%,
            hsla(48, 20%, 90%, 1) 45%,
            hsla(48, 20%, 90%, 1) 55%,
            transparent 0);
    background-size: .05em .05em;

    -webkit-text-fill-color: transparent;

    animation: shad-anim 15s linear infinite;
}

.stuffCard:hover h2{
    transition: 0.5s;
    color: var(--lightText);
}

.stuffCard h2{
    text-shadow: white;
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--background);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--background);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

.modal-body {
    background-color: var(--lightText);
    color: var(--background);
}

#emailForm {
    background-color: var(--background);
    width: 100%;
    color: white;
    border-radius: 5px 5px 0 0;
}

.modal-footer {
    background-color: var(--background);
}

.couBtn{
    background-color: var(--background);
    border: none;
    color: var(--lightText);
}
.couBtn:hover{
    background-color: var(--lightText);
    color: var(--background);
    transition: 0.5s;
    transform: scale(1.1);
}
#closeModal{
    background-color:var(--lightText); color: var(--background); border: none;
}
#closeModal:hover{
    background-color:var(--text); color: var(--lightText); border: none;
}

@media only screen and (max-width: 1458px) {

    .description_date {
        font-size: large;
        margin-bottom: 20px;
    }

    .description_text {
        display: none;

    }

    .headertext {
        display: none;
    }

    .email_btn {
        font-size: 20px;
        padding: 10px;
        width: 100px;
    }
    .stuffCard{
        margin-bottom: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stuffCont{
        margin-bottom: 0px;
    }
    .headText{
        margin-bottom: 100px;
        
    }

    
  
}
@media only screen and (max-width: 992px) {

    .courses{
        margin-bottom: 300px;
    }

    .lastCard{
        margin-bottom: 20px;
    }
    .about_text h2{
        margin-bottom:20px
    }
    .couCard{
        margin-bottom: 120px;
    }
    
  
}



@media only screen and (max-width: 850px) {
    .headText{
        margin-bottom: 150px;
    }
    .gallery_img{
        margin-top: 0;
    }
    .container {
        display: block;
    }

    .about_img {
        padding-bottom: 40px;

        width: 100%;
        padding-right: none;
    }

    .about_text {
        width: 100%;
    }

    
    
}

@media only screen and (max-width: 770px) {
    .couCard{
        margin-bottom: 200px;
    }

    .row[_ngcontent-ng-c2166648928] {
        margin-top: 3rem;
        margin-bottom: -18rem;
        gap: 50px;
    }
    .courses{
        margin-bottom: 100px;
    }
    .row[_ngcontent-ng-c3343738704]{
        margin-top: 0rem;
    }
}

@import url(https://fonts.googleapis.com/css?family=Righteous);

@media only screen and (max-width: 460px){
    .couCard{
        margin-bottom: 100px;
    }
    
}

