@import "../node_modules/bootstrap/scss/bootstrap";


:root {
    --primary: #A6A6A6;
    --light: #A6A6A6;
    --dark: #A6A6A6;
    --text:#6CB535;
    --lightText:#ECF1E6;
    --background:#345619;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito",sans-serif;
    
}

h2{
    color: var(--light);
}

li{
    list-style-type: none; /* Remove bullets */ 
    text-decoration: none;
}
