
.landingPageContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerText{
  text-align: center;
}
.headerText h1{
  font-size: 150px;
  font-weight: 150;
  line-height: 150px;
  color: var(--white);
}
.headerText h3{
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 30;
  line-height: 30px;
}