
.nonefaceText{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerText{
  text-align: center;
  width: 100%;
}
.headerText h1{
  margin-top: 10px;
  font-size: 120px;
  font-weight: 100;
  line-height: 120px;
  color: var(--white);
}
.headerText h2{
  font-size: 70px;
  font-weight: 70;
  line-height: 70px;
  color: var(--white);
  display: none;
}
.headerText h3{
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 30;
  line-height: 30px;
  margin-bottom: 50px;
}

.eventText{
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  width: 175px;
  margin: auto;
  color: var(--white);
  font-weight: 100;
}
.pluses{
  display: flex;
  // justify-content: center;
  // align-content: center;  
  padding-left: 20px;
  padding-right: 20px;
  width: 1314px;
  margin: auto;
}
.pluses .row{
 margin-top: 60px;
 gap: 49px;
 color: var(--white);
 margin-bottom: 60px;
}
.pluses .col{
  width: 400px;
  border: none;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: default;
 }
 .pluses .col img{
  height:400px;
  border-radius: 8px;
  border: solid 3px var(--secondary-color) ;
 }
 .pluses .col:hover{
  background-color: var(--primary-color-extra-light);
  transition: 0.5s;
  // border: solid 2px ;
  color: var(--secondary-color);
  h1{
    color: var(--white);
    transition: 0.5s;
  }
  transform: scale(1.02);
  transition: 0.5s;
 }

.trendingBarsHeader{
  padding-top: 20px;
  padding-bottom: 30px;
  width: 1300px;
  margin: auto;
  color: var(--white);
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
}

.bars{
  
  display: flex;
  
  padding-left: 20px;
  padding-right: 20px;
  width: 1350px;
  margin: auto;
}

.barsText{
  border: solid 2px var(--secondary-color);
  border-radius:8px;
  margin-bottom: 20px;
 
}
.barCard{
  background-color: black;
  color: var(--white);
  font-weight: 100;
}
.row .col:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.barBtn{
  background-color: var(--secondary-color);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: none;
  font-weight: 100;
}
.card-body{
  border: solid 1px var(--secondary-color);
  // border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.barBtn:hover{
  background-color: var(--primary-color-extra-light);
  transition: 0.5s;
}

.card-img-top{
  height: 110px;
}

.subscription{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sexy-color);
  
  width: 1310px;
  margin: auto;

}
.subscription .row {
  text-align: center;
  gap: 180px;
}
.subscription a {
  color: var(--sexy-color);
}
.subscription h1 {
  color: var(--white);
  font-weight: 100;
  margin-bottom: 100px;
}
.bi{
  cursor: pointer;
  font-size: 200px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  height: 200px;
  border: solid 2px var(--sexy-color) ;
  border-radius: 50%;
}
@media(max-width:752px) and (min-width:745px){
  .big3{
    height: 210px;
  }
}
@media(max-width:1119px) and (min-width:933px){
  .big1{
    height:auto;
  }
}
@media(max-width:936px) and (min-width:745px){
  .big1{
    height: 210px;
  }
}
@media(max-width:936px) and (min-width:745px){
  .big2{
    height: 210px;
  }
}

@media(max-width:1399px){
  .pluses {
    display: block;
    
  }
}

@media(max-width:1399px){
  .pluses{
    width: 88%;
  }
  .bars{   
    width: 90%;
  }
  .trendingBarsHeader{
    width: 85%;
  }
}








@media(max-width:600px){
  .headerText h1{
    
    font-size: 80px;
    font-weight: 80;
    line-height: 80px;
  }

}

@media(max-width:415px){
  .pluses .col img{
    width: 300px;
    height: auto;
  }
}