<hr>
<div class="landingPageContent">
<div class="nonefaceText">
    <div class="headerText">
        <h1>NONEFACE</h1>
        <h2>N</h2>
        <h2>O</h2>
        <h2>N</h2>
        <h2>E</h2>
        <h2>F</h2>
        <h2>A</h2>
        <h2>C</h2>
        <h2>E</h2>
        <h3>NO FACE CONTROL ANYMORE</h3>
    </div>
    
  </div>
  <div class="pluses">
    <div class="row">
        <div class="col">
          <div class="plusesText">
            <h1>Unlimited</h1>
            <h3> acsses to all your favorite bars</h3>
          </div>
        </div>
        <div class="col">
          <div class="plusesText">
            <h1>Unlimited</h1>
            <h3> acsses to all your favorite bars</h3>
          </div>
        </div>
        <div class="col">
          <div class="plusesText">
            <h1>Unlimited</h1>
            <h3> acsses to all your favorite bars</h3>
          </div>
        </div>
      </div>
</div>
</div>