mat-form-field{
    width: 100%;
}

  .save {
    display: flex;
    background: #017344;
    position: relative;
    border-radius: 10px;
    button {
      background: #017344;
      border-radius: 10px;
    }
    
  }
  