<div class="modal-content">
    <div class="matHeader  ">
        <span class="d-flex justify-content-center">
            Send Us Email
        </span>
    <a class="d-flex justify-content-flex-end" style="color: rgb(212, 9, 9);  cursor: pointer;" (click)="close()">  <i class="bi bi-x"></i>
    </a>
    </div>
    <form #form="ngForm"  (ngSubmit)="onSubmit(form)">
    <div mat-dialog-content>
      <div class="col-12">
        <label class="form-label">Full Name</label>
      <mat-form-field appearance="outline" >
          <input required matInput placeholder="Enter Your Name"  name="name" >
        </mat-form-field>   
    </div>
    <div class="col-12">
        <label class="form-label">Email Adress</label>
      <mat-form-field appearance="outline" >
          <input required matInput placeholder="Enter Your Email Adress"  name="name" >
        </mat-form-field>   
    </div>
    <div class="col-12">
        <label class="form-label">Subject</label>
      <mat-form-field appearance="outline" >
          <input required matInput placeholder="Enter Subject"  name="name" >
        </mat-form-field>   
    </div>
    <div class="col-12">
        <label class="form-label">Message</label>
      <mat-form-field appearance="outline" >
          <input required matInput placeholder="Enter Your Message"  name="name" >
        </mat-form-field>   
    </div>
  </div>
  <mat-dialog-actions align="end">
    <div class="w-100 save mb-2">
      
         <button class="mtavbold" style="width: 100%;color: white;"  mat-raised-button   type="submit">Send Email</button>
     </div>
  </mat-dialog-actions>
  </form>
  </div>