<nav class="navBar d-flex" appScroll>
    <div class="logo">
      <a href="">
        <h2 class="m-0"><i class="fa fa-book me-3"></i>eLEARNING</h2>
      </a>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
      <span *ngIf="!showMenu"><i class="bi bi-list"></i></span>
      <span *ngIf="showMenu"><i class="bi bi-x"></i></span>
    </div>
    <ul class="routing" id="myDIV" *ngIf="showMenu">
      <li><a [routerLink]="['home']" (click)="changeColor($event, 'home')" class="nav-list nav-link" [ngClass]="{'active': isActive('home')}">HOME</a></li>
      <li><a [routerLink]="['about']" (click)="changeColor($event, 'about')" class="nav-list nav-link" [ngClass]="{'active': isActive('about')}">ABOUT</a></li>
      <li><a [routerLink]="['courses']" (click)="changeColor($event, 'courses')" class="nav-list nav-link" [ngClass]="{'active': isActive('courses')}">COURSES</a></li>
      <li><a [routerLink]="['stuff']" (click)="changeColor($event, 'stuff')" class="nav-list nav-link" [ngClass]="{'active': isActive('stuff')}">STUFF</a></li>
      <li><a [routerLink]="['contact']" (click)="changeColor($event, 'contact')" class="nav-list nav-link" [ngClass]="{'active': isActive('contact')}">CONTACT</a></li>
    </ul>
  </nav>